h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
    color: pink;
    background-color: darkblue;
    inline-size: fit-content;
    font-family: "SUSE Mono", sans-serif;
}

p {
    background-color: pink;
    font-family: "Bitcount Single Ink", system-ui;
}